<app-navbar></app-navbar>
<h2>Enter The Event Details</h2><br>

<form (ngSubmit)="onSubmit()" [formGroup]="eventForm">
    <div class="form-group">
        <label for="truck-description">Vendor Description</label>
        <input type="text" class="form-control" formControlName="vendorDescription" placeholder="Describe your business...">
    </div>

    <div class="form-group">
        <label for="truck-description">Event Description</label>
        <input type="text" class="form-control" formControlName="eventDescription" placeholder="Describe your event...">
    </div>

    <div class="form-group">
        <label for="fdate">Start Time</label>
        <input type="date" id="from" class="form-control" size="20" formControlName="startDate"/>
        <input type="time" id="appt-time" class="form-control" formControlName="startTime" value="00:00">
    </div>

    <div class="form-group">
        <label for="tdate">End Time</label>
        <input type="date" id="to" class="form-control" formControlName="endDate" size="20" />
        <input type="time" id="appt-time" class="form-control" formControlName="endTime" value="00:00">
    </div>

    <div class="form-group">
        <label for="lodcation">Location</label>
        <input type="text" class="form-control" placeholder="Where is your sale happening?" formControlName="location" autocorrect="off">
    </div>

    <div class="form-group">
        <input type="submit" name="submit" value="Submit" class="btn btn-primary nav-button" id="submit-id" />
        <input type="reset" name="reset" value="Reset" class="btn btn-secondary" id="button-id" />
    </div>
</form>