<div class="row">
  <div class="col-md-10">
    <div class="well">
        <h4>{{event?.vendor?.name}}</h4>
        <p>{{event?.vendor?.foodType}}</p>
        <p>{{event?.vendor?.description}}</p>
        
        <br /><h4>Sale Information</h4>
        Description: <p>{{event?.saleDescription}}</p>
        Starts: <p>{{event?.start}}</p>
        Ends: <p>{{event?.end}}</p>
        Location: <p>{{event?.address}}</p>
        <img alt="image" src='{{event?.vendor?.menu}}' /><br />
    </div>
  </div>
</div>
<a [routerLink]="['/events']">View all Events</a>

<form (ngSubmit)="onSubmit()" [formGroup]="eventReviewForm" *ngIf="event">
  <h1>Review this event</h1>
  <div class="form-group" >
    <label *ngFor="let rating of ratings" class="container ">{{rating.rating}} {{rating.text}}
      <input type="radio" id="event-rating" formControlName="eventRating" [value]="rating.rating">
      <span class="checkmark"></span>
    </label>
  </div>
  <div class="form-group padding-top ">
      <label for="event-review">Leave a comment</label>
      <input type="text" class="form-control" formControlName="eventReview" placeholder="Review this event" value="eventReview" maxlength="140">
  </div>
  <div class="form-group">
    <input type="submit" name="submit" value="Submit" class="btn btn-primary nav-button" id="submit-id" [disabled]="!eventReviewForm.valid"/>
  </div>
</form>
