<app-navbar></app-navbar>
<p>
    <a [routerLink]="['/vendor/' + event?.vendorUsername]">Vendor details</a>
</p>
<app-vendor *ngIf="event" [vendorUsername]="event?.vendorUsername"></app-vendor>
<div *ngIf="event">
    <div class="row">
        <div class="col-md-12">
            <div class="well">
                <h4>Sale Information</h4>
                <p><span class="font-weight-bold">Description: </span> {{event?.saleDescription}}</p>
                <p><span class="font-weight-bold">Starts: </span> {{event?.start | date : 'medium'}}</p>
                <p><span class="font-weight-bold">Ends: </span>{{event?.end | date : 'medium'}}</p>
                <p><span class="font-weight-bold">Location: </span>{{event?.address}}</p>
                <img alt="image" src='{{event?.vendor?.menu}}' />
            </div>
        </div>
    </div>
</div>
<app-reviews *ngIf="event" [vendorUsername]="event?.vendorUsername"></app-reviews>