<app-navbar></app-navbar>
<h2>Create account</h2>
<form [formGroup]="newAccountForm" (ngSubmit)="onSubmit()">
	<div >
		<label for="username">Username</label>
		<div *ngIf="displayError" class="alert alert-danger">
			Username already taken, please choose a different username
		</div>
		<input type="text" class="form-control" id="username" required formControlName="username" name="username">
		<div *ngIf="username.invalid && username.dirty" class="alert alert-danger">
			Username is required
		</div>
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" required formControlName="password" name="password">
		<div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
			Password is required
		</div>
	</div>

	<div class="form-group">
		<label for="region">Preferred Region</label>
		<select class="form-control" id="region" formControlName="region" required>
			<option *ngFor="let region of regions" [value]="region">{{region}}</option>
		</select>
	</div>

<button type="submit" name="submit" value="Submit" class="btn btn-primary nav-button" id="submit-id" [disabled]="newAccountForm.invalid">Submit</button>
</form>