<h2>Create account</h2>
<form [formGroup]="newAccountForm" (ngSubmit)="onSubmit()">
	<div>
		<label for="username">Username</label>
		<div *ngIf="displayError" class="alert alert-danger">
			Username already taken, please choose a different username
		</div>
		<input type="text" class="form-control" id="username" required formControlName="username" name="username">
		<div *ngIf="username.invalid && username.dirty" class="alert alert-danger">
			Username is required
		</div>
	</div>

	<div class="form-group">
		<label for="password">Password</label>
		<input type="password" class="form-control" id="password" required formControlName="password" name="password">
		<div *ngIf="password.invalid && password.dirty" class="alert alert-danger">
			Password is required
		</div>
	</div>

	<button class="btn btn-primary row-button-btn" type="button" (click)="testMenu()">Test</button>

	<div formArrayName="menu">
		<label for="menu">
			<h3>Menu (optional)</h3>
		</label> 
		<button class="btn btn-primary row-button-btn" type="button" (click)="addItem()">Add Item</button>
		<div class="form-group" *ngFor="let item of menuItems.controls; let i = index">
			<label for="description">Item {{ i + 1 }}
				<input class="form-control" type="text" [formControlName]="i">
			</label>
			<button *ngIf="i > 0" class="btn btn-danger row-button-btn" type="button" (click)="removeItem(i)">Remove Item</button>
		</div>
	</div>

	<button type="submit" class="btn btn-success" (click)="createAccount()" [disabled]="newAccountForm.invalid">Submit</button>
</form>